.app-wrapper {
    background-color: darkgoldenrod;
    width: 90%;
    height: 95%;
}

.mat-card-header {
    width: auto;
    height : 15%;
}

.mat-card-content {
    height: 85%;
}

img {
    margin: auto;
    height: 100%;
    width: 100%;
}

