<app-header></app-header>

<div class="container">
        
        <div class="form">
          <div class="contact-info">
            <h3 class="title">Infos pratiques</h3>
            <p class="text">
                Accés via : Metro + BUS 
                <br> 
                Disponibilité place de parking 
            </p>
  
            <div class="info">
              <div class="information">
                <img src="../../assets/img/location.png" class="icon" alt="" />
                <p>92 Cinema margoulin, vive la bretagne, 29300</p>
              </div>
              <div class="information">
                <img src="../../assets/img/email.png" class="icon" alt="" />
                <p>cimena-margoulin@wanadoo.fr</p>
              </div>
              <div class="information">
                <img src="../../assets/img/phone.png" class="icon" alt="" />
                <p>+33 (0) 366 66 66 66</p>
              </div>
            </div>
  
            <div class="social-media">
              <p>Retrouvez nous aussi sur :</p>
              <div class="social-icons">
                <a href="#">
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="contact-form">
  
            <form action="index.html" autocomplete="off">
              <h3 class="title">Nous contacter</h3>
              <div class="input-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Nom</mat-label>
                  <input matInput placeholder="Nom" value="Ex. Bouhafs">
                </mat-form-field> 
              </div>
              <div class="input-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Prénom</mat-label>
                  <input matInput placeholder="Prénom" value="Ex. Nezha">
                </mat-form-field>
              </div>
              <div class="input-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                         placeholder="Ex. pat@example.com">
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="input-container textarea">
                <mat-form-field class="example-full-width">
                  <mat-label>Votre message</mat-label>
                  <textarea matInput placeholder="Ex. Je vous contacte..."></textarea>
                </mat-form-field>
              </div>
              <input type="submit" value="Envoyer" class="btn" />

    </div>
  </div>
</div>
<app-footer></app-footer>