<app-header></app-header>

<div class="container">

  <div class="form">
    <div class="contact-info">
      <h3 class="title">Infos pratiques</h3>
      <p class="text">
        Accés via : Metro + BUS
        <br>
        Disponibilité place de parking
      </p>

      <div class="info">
        <div class="information">
          <img src="../../assets/img/location.png" class="icon" alt="" />
          <p>92 Cinema margoulin, vive la bretagne, 29300</p>
        </div>
        <div class="information">
          <img src="../../assets/img/email.png" class="icon" alt="" />
          <p>cimena-margoulin@wanadoo.fr</p>
        </div>
        <div class="information">
          <img src="../../assets/img/phone.png" class="icon" alt="" />
          <p>+33 (0) 366 66 66 66</p>
        </div>
      </div>

      <div class="social-media">
        <p>Retrouvez nous aussi sur :</p>
        <div class="social-icons">
          <a href="#">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact-form">

      <form action="index.html" autocomplete="off">
        <h3 class="title">Nous contacter</h3>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Nom</label>
          <span>Nom</span>
        </div>
        <div class="input-container">
          <input type="text" name="name" class="input" />
          <label for="">Prénom</label>
          <span>Prénom</span>
        </div>
        <div class="input-container">
          <input type="email" name="email" class="input" />
          <label for="">Email</label>
          <span>Email</span>
        </div>
        <div class="input-container">
          <input type="tel" name="phone" class="input" />
          <label for="">Téléphone</label>
          <span>Téléphone</span>
        </div>
        <div class="input-container textarea">
          <textarea name="message" class="input"></textarea>
          <label for="">Votre message</label>
          <span>Votre message</span>
        </div>
        <input type="submit" value="Envoyer" class="btn" />

      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>