<div class="app-wrapper">

  <!-- ICONE RETOUR ACCUEIL-->
  <div class="app-button-home">
    <button mat-fab aria-label="home" [routerLink]="['/home']" class="app-button">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <!-- CONTAINER STATISTIQUES-->

  <mat-tab-group mat-align-tabs="end" [backgroundColor]="'primary'" [color]="'accent'">

    <!-- CONTAINER FILMS-->

    <mat-tab label="Gestion des Films">

      <div class="mat-elevation-z8">

        <!-- SOUS-CONTAINER FILMS/TABLE FILM-->
        <mat-tab-group mat-align-tabs="start" [backgroundColor]="'primary'" [color]="'warn'">
          <mat-tab label="Ajouter un film">

            <h2 class="film-title">Veuillez entrez les informations du film à ajouter :</h2>

            <form (ngSubmit)="addFilm(formAddFilm)" #formAddFilm="ngForm">
              <div class="app-form-addFilm">

                <div class="app-container-left-film">
                  <!-- titre -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Titre</mat-label>
                    <input matInput placeholder="ex : Avatar" name="name" ngModel>
                  </mat-form-field>

                  <!-- Réalisateur -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Réalisateur</mat-label>
                    <input matInput placeholder="ex : Steven Spieldberg" name="director" ngModel>
                  </mat-form-field>

                  <!-- affiche -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Affiche du film</mat-label>
                    <input matInput placeholder="ex : http://monfilm.fr" name="display" ngModel>
                  </mat-form-field>

                  <!-- durée -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Durée (en minutes)</mat-label>
                    <input type="number" matInput placeholder="ex : 120" name="duration" ngModel>
                  </mat-form-field>

                </div>
                <div class="app-container-right-film">
                  <!-- typefilm -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Type du film</mat-label>
                    <input matInput placeholder="ex: Science-Fiction" name="typeFilm" ngModel>
                  </mat-form-field>

                  <!-- commentaires -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Commentaires</mat-label>
                    <input matInput placeholder="ex : blabla" name="userComment" ngModel>
                  </mat-form-field>

                  <!-- Version -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Version</mat-label>
                    <input matInput placeholder="Version (ex : VO)" name="filmVersion" ngModel>
                  </mat-form-field>

                  <!-- pegi -->
                  <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                    <mat-label>Limite d'age</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let element of ageLimit" [value]="element.value" name="pegi" ngModel>
                        {{element.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- synopsis -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Descriptif</mat-label>
                    <textarea matInput placeholder="Ex. Il était une fois..." name="synopsis" ngModel></textarea>
                  </mat-form-field>

                </div>

              </div>
              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonAddFilm">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>

          <!-- SOUS-CONTAINER FILMS/UPDATE FILM-->
          <mat-tab label="Modifier films">

            <!-- update Film-->

            <h2 class="film-title">Veuillez modifier les informations du film sélectionné :</h2>

            <form (ngSubmit)="updateFilm(formUpdateFilm)" #formUpdateFilm="ngForm">
              <div class="app-form-addFilm">

                <div class="app-container-left-film">

                  <!-- id -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Id</mat-label>
                    <input disabled matInput name="id" placeholder="{{element.id}}" [(ngModel)]="element.id">
                  </mat-form-field>
                  <!-- titre -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Titre</mat-label>
                    <input matInput name="name" placeholder="{{element.name}}" [(ngModel)]="element.name">
                  </mat-form-field>

                  <!-- Réalisateur -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Réalisateur</mat-label>
                    <input matInput name="director" placeholder="{{element.director}}" [(ngModel)]="element.director">
                  </mat-form-field>

                  <!-- affiche -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Affiche du film</mat-label>
                    <input matInput name="display" placeholder="{{element.display}}" [(ngModel)]="element.display">
                  </mat-form-field>

                  <!-- durée -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Durée (en minutes)</mat-label>
                    <input type="number" matInput name="duration" placeholder="{{element.duration}}"
                      [(ngModel)]="element.duration" ngModel>
                  </mat-form-field>

                </div>
                <div class="app-container-right-film">
                  <!-- typefilm -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Type du film</mat-label>
                    <input matInput name="typeFilm" placeholder="{{element.typeFilm}}" [(ngModel)]="element.duration"
                      ngModel>
                  </mat-form-field>

                  <!-- commentaires -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Commentaires</mat-label>
                    <input matInput name="userComment" placeholder="{{element.userComment}}"
                      [(ngModel)]="element.userComment">
                  </mat-form-field>

                  <!-- Version -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Version</mat-label>
                    <input matInput name="filmVersion" placeholder="{{element.filmVersion}}"
                      [(ngModel)]="element.duration">
                  </mat-form-field>

                  <!-- pegi -->
                  <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                    <mat-label>Limite d'age</mat-label>
                    <mat-select>
                      <input matInput name="filmVersion" placeholder="{{element.pegi}}" [(ngModel)]="element.pegi">
                    </mat-select>
                  </mat-form-field>

                  <!-- synopsis -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Descriptif</mat-label>
                    <textarea matInput name="synopsis" placeholder="{{element.synopsis}}" [(ngModel)]="element.synopsis"
                      ngModel></textarea>
                  </mat-form-field>

                </div>

              </div>
              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonUpdateFilm">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>

          <!-- SOUS-CONTAINER FILMS/AJOUT FILM-->
          <mat-tab label="Voir films">
            <table mat-table [dataSource]="dataSourceFilm" id="app-table-film">

              <!-- Update Button column -->
              <ng-container matColumnDef="updateAction">
                <th mat-header-cell *matHeaderCellDef> Modification </th>
                <td *matCellDef="let element">

                  <button mat-raised-button (click)="retrieveFilm(element)" class="app-button-update">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Suppression Button column -->
              <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef> Suppression </th>
                <td *matCellDef="let row">
                  <button mat-raised-button (click)="deleteFilmById(row.id)" class="app-button-delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Titre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- duration Column -->
              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Durée </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
              </ng-container>

              <!-- filmVersion Column -->
              <ng-container matColumnDef="filmVersion">
                <th mat-header-cell *matHeaderCellDef> Version </th>
                <td mat-cell *matCellDef="let element"> {{element.filmVersion}} </td>
              </ng-container>

              <!-- Display Column -->
              <ng-container matColumnDef="display">
                <th mat-header-cell *matHeaderCellDef> Affiche </th>
                <td mat-cell *matCellDef="let element"> {{element.display}} </td>
              </ng-container>

              <!-- TypeFilm Column -->
              <ng-container matColumnDef="typeFilm">
                <th mat-header-cell *matHeaderCellDef> Type film </th>
                <td mat-cell *matCellDef="let element"> {{element.typeFilm}} </td>
              </ng-container>

              <!-- descriptif Column -->
              <ng-container matColumnDef="synopsis">
                <th mat-header-cell *matHeaderCellDef> Descriptif </th>
                <td mat-cell *matCellDef="let element"> {{element.synopsis}} </td>
              </ng-container>

              <!-- Comment Column -->
              <ng-container matColumnDef="userComment">
                <th mat-header-cell *matHeaderCellDef> Commentaires </th>
                <td mat-cell *matCellDef="let element"> {{element.userComment}} </td>
              </ng-container>

              <!-- Director Column -->
              <ng-container matColumnDef="director">
                <th mat-header-cell *matHeaderCellDef> Réalisateur </th>
                <td mat-cell *matCellDef="let element"> {{element.director}} </td>
              </ng-container>

              <!-- Pegi Column -->
              <ng-container matColumnDef="pegi">
                <th mat-header-cell *matHeaderCellDef> Pegi </th>
                <td mat-cell *matCellDef="let element"> {{element.pegi}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsFilm"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsFilm;"></tr>
            </table>

            <!-- paginator-->
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

          </mat-tab>


        </mat-tab-group>

      </div>
    </mat-tab>


    <!-- CONTAINER SALLES -->

    <mat-tab label="Gestion des Salles">

      <div class="mat-elevation-z8">

        <!-- SOUS-CONTAINER SALLES/TABLE ROOM-->
        <mat-tab-group mat-align-tabs="start" [backgroundColor]="'primary'" [color]="'warn'">
          <mat-tab label="Ajouter une salle">

            <h2 class="film-title">Veuillez entrez les informations de la salle à ajouter :</h2>

            <form (ngSubmit)="addRoom(formAddRoom)" #formAddRoom="ngForm">
              <div class="app-form-addFilm">

                <div class="app-container-left-film">
                  <!-- nom de la salle -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Nom de la salle</mat-label>
                    <input matInput placeholder="ex : Saint Paulin" name="name" ngModel>
                  </mat-form-field>

                  <!-- Numéro de siège -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Nombre de sièges disponibles</mat-label>
                    <input type="number" matInput placeholder="ex : 25" name="seatNumber" ngModel>
                  </mat-form-field>

                  <!-- maxCapacity -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Capacité maximale de la salle</mat-label>
                    <input matInput placeholder="ex : 50" name="maxCapacity" ngModel>
                  </mat-form-field>

                  <!-- durée -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Système audio</mat-label>
                    <input matInput placeholder="ex : VO" name="audioSystem" ngModel>
                  </mat-form-field>
                </div>

              </div>
              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonAddRoom">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>

          <!-- SOUS-CONTAINER ROOMS/UPDATE ROOM-->
          <mat-tab label="Modifier les salles">

            <!-- update Room-->

            <h2 class="film-title">Veuillez modifier les informations de la salle sélectionnée :</h2>

            <form (ngSubmit)="updateRoom(formUpdateRoom)" #formUpdateRoom="ngForm">
              <div class="app-form-addFilm">

                <div class="app-container-left-film">

                  <!-- id -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Id</mat-label>
                    <input disabled matInput name="id" placeholder="{{elementR.id}}" [(ngModel)]="elementR.id">
                  </mat-form-field>

                  <!-- Nom -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Nom de la salle</mat-label>
                    <input matInput name="name" placeholder="{{elementR.name}}" [(ngModel)]="elementR.name">
                  </mat-form-field>

                  <!-- Numéro de siège -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Numéro de siège</mat-label>
                    <input matInput name="seatNumber" placeholder="{{elementR.seatNumber}}"
                      [(ngModel)]="elementR.seatNumber">
                  </mat-form-field>

                  <!-- Capacité maximale -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Capacité maximale</mat-label>
                    <input matInput name="maxCapacity" placeholder="{{elementR.maxCapacity}}"
                      [(ngModel)]="elementR.maxCapacity">
                  </mat-form-field>

                  <!-- durée -->
                  <mat-form-field class="app-field-film" [color]="'accent'">
                    <mat-label>Système Audio</mat-label>
                    <input matInput name="audioSystem" placeholder="{{elementR.audioSystem}}"
                      [(ngModel)]="elementR.audioSystem">
                  </mat-form-field>

                </div>

              </div>
              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonUpdateFilm">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>

          <!-- SOUS-CONTAINER ROOMS/VOIR ROOM-->
          <mat-tab label="Voir salles">
            <table mat-table [dataSource]="dataSourceRoom" id="app-table-room">

              <!-- Update Button column -->
              <ng-container matColumnDef="updateAction">
                <th mat-header-cell *matHeaderCellDef> Modification </th>
                <td *matCellDef="let element">

                  <button mat-raised-button (click)="retrieveRoom(element)" class="app-button-update">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Suppression Button column -->
              <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef> Suppression </th>
                <td *matCellDef="let row">
                  <button mat-raised-button (click)="deleteRoomById(row.id)" class="app-button-delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom de la salle </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- duration Column -->
              <ng-container matColumnDef="sitNumber">
                <th mat-header-cell *matHeaderCellDef> Nombre de sièges disponibles</th>
                <td mat-cell *matCellDef="let element"> {{element.sitNumber}} </td>
              </ng-container>

              <!-- filmVersion Column -->
              <ng-container matColumnDef="maxCapacity">
                <th mat-header-cell *matHeaderCellDef> Capacité maximale </th>
                <td mat-cell *matCellDef="let element"> {{element.maxCapacity}} </td>
              </ng-container>

              <!-- Display Column -->
              <ng-container matColumnDef="audioSystem">
                <th mat-header-cell *matHeaderCellDef> Système audio </th>
                <td mat-cell *matCellDef="let element"> {{element.audioSystem}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsRoom"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRoom;"></tr>
            </table>

            <!-- paginator-->
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

          </mat-tab>
        </mat-tab-group>

      </div>
    </mat-tab>



    <!-- CONTAINER CONTACTS -->

    <mat-tab label="Gestion des demandes">
      <div class="mat-elevation-z8">

        <!-- SOUS-CONTAINER CONTACTS/TABLE CONTACTS-->
        <mat-tab-group mat-align-tabs="start" [backgroundColor]="'primary'" [color]="'warn'">

          <!-- SOUS-CONTAINER CONTACTS/VOIR CONTACT-->
          <mat-tab label="Voir demandes">
            <table mat-table [dataSource]="dataSourceContact" id="app-table-film">

              <!-- Suppression Button column -->
              <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef> Suppression </th>
                <td *matCellDef="let row">
                  <button mat-raised-button (click)="deleteContactById(row.id)" class="app-button-delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <!-- firstName Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
              </ng-container>

              <!-- lastName Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
              </ng-container>

              <!-- email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- message Column -->
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element"> {{element.message}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsContact"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsContact;"></tr>
            </table>

            <!-- paginator-->
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

          </mat-tab>
        </mat-tab-group>

      </div>
    </mat-tab>



    <!-- CONTAINER Sessions -->

    <mat-tab label="Gestion des Sessions">
      <div class="mat-elevation-z8">

        <!-- SOUS-CONTAINER SESSIONS/TABLE Sessions-->
        <mat-tab-group mat-align-tabs="start" [backgroundColor]="'primary'" [color]="'warn'">

          <mat-tab label="Ajouter une session">

            <h2 class="film-title">Veuillez entrez les informations de la session à ajouter :</h2>

            <div class="app-form-addFilm">

              <form (ngSubmit)="addSession(formAddSession)" #formAddSession="ngForm">
                <div class="app-form-addFilm">

                  <!-- film -->
                  <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                    <mat-label>Film</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let element of filmList" [value]="element" name="film"
                        [(ngModel)]="elementS.film">
                        {{element.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- room -->
                  <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                    <mat-label>Room</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let element of roomList" [value]="element" name="room"
                        [(ngModel)]="elementS.room">
                        {{element.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>


                </div>


                <!-- submit -->
                <div class="app-button-add-film">
                  <button mat-raised-button class="app-button" id="buttonAddRoom">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </form>
            </div>
          </mat-tab>

          <!-- SOUS-CONTAINER SESSIONS/UPDATE SESSION-->
          <mat-tab label="Modifier une session">

            <!-- update Room-->

            <h2 class="film-title">Veuillez modifier les informations de la session sélectionnée :</h2>

            <form (ngSubmit)="updateRoom(formUpdateRoom)" #formUpdateRoom="ngForm">
              <div class="app-form-addFilm">

                <!-- film -->
                <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                  <mat-label> {{elementS.film.name}}</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let element of filmList" [value]="element" name="film"
                      [(ngModel)]="elementS.film">
                      {{element.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- room -->
                <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                  <mat-label>{{elementS.room.name}}</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let element of roomList" [value]="element" name="room"
                      [(ngModel)]="elementS.room">
                      {{element.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- submit -->
                <div class="app-button-add-film">
                  <button mat-raised-button class="app-button" id="buttonAddRoom">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </form>

          </mat-tab>

          <!-- SOUS-CONTAINER SESSIONS/VOIR SESSIONS-->
          <mat-tab label="Voir sessions">
            <table mat-table [dataSource]="dataSourceSession" id="app-table-film">

              <!-- Update Button column -->
              <ng-container matColumnDef="updateAction">
                <th mat-header-cell *matHeaderCellDef> Modification </th>
                <td *matCellDef="let element">

                  <button mat-raised-button (click)="retrieveSession(element)" class="app-button-update">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Suppression Button column -->
              <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef> Suppression </th>
                <td *matCellDef="let row">
                  <button mat-raised-button (click)="deleteSessionById(row.id)" class="app-button-delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <!-- firstName Column -->
              <ng-container matColumnDef="film">
                <th mat-header-cell *matHeaderCellDef> Film </th>
                <td mat-cell *matCellDef="let element"> {{element.film.name}}</td>
              </ng-container>

              <!-- lastName Column -->
              <ng-container matColumnDef="room">
                <th mat-header-cell *matHeaderCellDef> Room </th>
                <td mat-cell *matCellDef="let element"> {{element.room.name}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumnsSession"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsSession;"></tr>
            </table>

            <!-- paginator-->
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

          </mat-tab>
          <!-- SOUS-CONTAINER SESSIONS/UPDATE SESSION-->
          <mat-tab label="Modifier une session">

            <!-- update Room-->

            <h2 class="film-title">Veuillez modifier les informations de la session sélectionnée :</h2>

            <form (ngSubmit)="updateSession(formUpdateSession)" #formUpdateSession="ngForm">
              <div class="app-form-addFilm">

                <div class="app-container-left-film">


                    <!-- film -->
                    <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                      <mat-label> {{elementS.film.name}}</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let element of filmList" [value]="element" name="film"  [(ngModel)]="elementS.film">
                          {{element.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- room -->
                    <mat-form-field appearance="fill" class="app-field-film" [color]="'accent'">
                      <mat-label>{{elementS.room.name}}</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let element of roomList" [value]="element" name="room"  [(ngModel)]="elementS.room">
                          {{element.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                </div>

              </div>
              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonUpdateFilm">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>
        </mat-tab-group>

      </div>
    </mat-tab>


    <!-- CONTAINER RESERVATIONS -->
    <mat-tab label="Gestion des Réservations">
      <div class="mat-elevation-z8">

        <!-- SOUS-CONTAINER RESERVATIONS/TABLE RESERVATION-->
        <mat-tab-group mat-align-tabs="start" [backgroundColor]="'primary'" [color]="'warn'">

          <!-- SOUS-CONTAINER RESERVATIONS/VOIR RESERVATIONS-->
          <mat-tab label="Voir réservations">
            <table mat-table [dataSource]="dataSourceReservation" id="app-table-film">

              <!-- Update Button column -->
              <ng-container matColumnDef="updateAction">
                <th mat-header-cell *matHeaderCellDef> Modification </th>
                <td *matCellDef="let element">

                  <button mat-raised-button (click)="retrieveReservation(element)" class="app-button-update">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Suppression Button column -->
              <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef> Suppression </th>
                <td *matCellDef="let row">
                  <button mat-raised-button (click)="deleteReservationById(row.id)" class="app-button-delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- duration Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <!-- filmVersion Column -->
              <ng-container matColumnDef="session">
                <th mat-header-cell *matHeaderCellDef> Session </th>
                <td mat-cell *matCellDef="let element"> {{element.session.id}} </td>
              </ng-container>

              <!-- Display Column -->
              <ng-container matColumnDef="users">
                <th mat-header-cell *matHeaderCellDef> User </th>
                <td mat-cell *matCellDef="let element"> {{element.users.id}} </td>
              </ng-container>

              <!-- TypeFilm Column -->
              <ng-container matColumnDef="seatNumber">
                <th mat-header-cell *matHeaderCellDef> Numéro de siège </th>
                <td mat-cell *matCellDef="let element"> {{element.seatNumber}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsReservation"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsReservation;"></tr>
            </table>

            <!-- submit -->
            <div class="app-button-add-film">
              <button (click)="addReservation()" mat-raised-button class="app-button" id="buttonAddFilm">
                <i class="fa fa-plus"></i>
              </button>
            </div>

            <!-- paginator-->
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

          </mat-tab>


          <mat-tab label="Ajouter une réservation">

            <h2 class="film-title">Veuillez entrez les informations de la réservation à modifier :</h2>

            <form (ngSubmit)="addReservation()" #formAddReservation="ngForm">
              <div class="app-form-addFilm">

                <!-- Nom -->
                <mat-form-field class="app-field-film" [color]="'accent'">
                  <mat-label>Nom de la réservation</mat-label>
                  <input matInput placeholder="{{elementResa.name}}" [(ngModel)]="elementResa.name" name="name">
                </mat-form-field>

                <!-- Prix -->
                <mat-form-field class="app-field-film" [color]="'accent'">
                  <mat-label>Price</mat-label>
                  <input type=number matInput placeholder="{{elementResa.price}}" [(ngModel)]="elementResa.price"
                    name="price">
                </mat-form-field>

                <!-- Session -->
                <mat-form-field class="app-field-film" [color]="'accent'">
                  <mat-label>Session</mat-label>
                  <input disabled type=number matInput pmatInput placeholder="{{elementResa.session.id}}"
                    [(ngModel)]="elementResa.session.id" name="session" ngModel>
                </mat-form-field>

                <!-- Numéro du siege -->
                <mat-form-field class="app-field-film" [color]="'accent'">
                  <mat-label>User</mat-label>
                  <input disabled type=number matInput placeholder="{{elementResa.users.id}}"
                    [(ngModel)]="elementResa.users.id" name="user">
                </mat-form-field>


                <!-- Numéro du siege -->
                <mat-form-field class="app-field-film" [color]="'accent'">
                  <mat-label>Numéro du siège</mat-label>
                  <input type=number matInput placeholder="{{elementResa.seatNumber}}"
                    [(ngModel)]="elementResa.seatNumber" name="seatNumber">
                </mat-form-field>
              </div>

              <!-- submit -->
              <div class="app-button-add-film">
                <button mat-raised-button class="app-button" id="buttonAddFilm">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </form>

          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-tab>


    <!-- CONTAINER STATISTIQUES-->

    <mat-tab label="Statistiques">
      <div class="app-stat">
        <h3> Graphique Vues/Mois</h3>
        <ngx-charts-bar-vertical [view]="[1000,400]" [results]="surveyDataVues" [xAxisLabel]="'Mois'" [legendTitle]="'Mois'"
          [yAxisLabel]="'Nombre de vues'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
          [yAxis]="true" [gradient]="true">
        </ngx-charts-bar-vertical>
      </div>
  
      <div class="app-stat">
        <h3> Graphique Nbr de réservationsMois</h3>
        <ngx-charts-bar-vertical [view]="[1000,400]" [results]="surveyDataNbrDeReservations" [xAxisLabel]="'Mois'" [legendTitle]="'Mois'"
          [yAxisLabel]="'Nombre de réservations'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
          [yAxis]="true" [gradient]="true">
        </ngx-charts-bar-vertical>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>