.app-wrapper {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(204, 195, 195);
}

.app-button-home {
  position: absolute;
  z-index: 2;
  margin: 1%;
}

.mat-tab-group {
  z-index: 1;
}

#app-table-film {
  width: 300%;
  background-color: rgb(34, 31, 31);
}

#app-table-room {
  width: 100%;
  background-color: rgb(34, 31, 31);
}

#app-table-contact {
  width: 100%;
  background-color: rgb(34, 31, 31);
}

.mat-elevation-z8 {
  margin: 3%;
  overflow: auto;
  overflow-y: auto;
  max-height: 600px;
}

.app-stat {
  margin-top: 3%;
  margin-left: 20%;
}

.app-button-delete {
  background-color: rgb(209, 62, 62);
}

.app-button-update{
  background-color: blue;
}