.app-wrapper {
    background-color: whitesmoke;
    margin : 1%;
    height: 570px;
    width: auto;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: auto;
}

.app-container-img {
    width : 70%;
    height: 400px;
}

.app-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 9px;
  }
  
  button {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: background-color 500ms ease;
  
    &:hover {
      background-color: black;
    }
  
  }