.mat-app-background {
    border: solid 1px darkgoldenrod;
    margin-bottom: 1%;
}

.app-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.app-container-img {
    width : 15%;
    
}

.app-container-aside {
    width : 60%;
}

img {
    width: 100%;
}