<mat-card class="mat-app-background">
    <h3>Mon titre de film</h3>

    <div class="app-container">
        <div class="app-container-img">
            <img src="../../../assets/img/back8.jpg" alt="image film">
        </div>
        <div class="app-container-aside">

            <p>"Descriptif du film / résumé, il faudra ajouter un section de commentaire dans la base de données (table
                FILM) pour que l'on puisse rendre cette section dynamique "</p>

            <p>ici ce sera le nom du réalisateur, VO, etc...</p>
            Je suis le {{ ordre }} fils et suis de {{ villeNaissance }}

            <app-button-reserve></app-button-reserve>
        </div>
    </div>
</mat-card>