.app-wrapper {
    background-color: whitesmoke;
    margin : 1%;
    width: auto;
    border-radius: 2px;
}

.app-container {
    display: flex;
    justify-content: center;
    width: auto;
}

.app-container-img {
    width : 50%;
    
}

img {
    width: 100%;
}

ng-content {
    max-width: 200px;
}