/*
*   MAIN
*/

h2 {
    color:white;
    font-size: 4em;

}

main {
    width: 100%;
    height: 500vh;
    position:relative;
    background-color: black;
}

.app-wraper-1 {
    width: 100%;
    height: 100vh;
    position:relative;
    margin: auto;
}

.app-wraper-2 {
    width: 100%;
    height: 100vh;
    position:relative;
    margin: auto;
}

.app-wraper__subtitle {
    position: absolute;
    width: 75%;
    text-align: center;
    margin-top: 5%;
}

.app-wrapper__event {
    height : 50vh;
    background-color: white;
    text-align: center;
    position: relative;

    &__p {
        color: black;
        font-size: 2em;
    }
}