<!-- MAIN -->
<main data-scroll-container>

    <!-- CONTENEUR -->
    <div class="app-wraper-1">

        <div class="app-wraper__title">
            <h1>Cinéma margoulin</h1>
        </div>
        
    </div>

    <div class="app-wraper-2">

        <div class="app-wraper__title">
            <h2>Vivez l'expérience 4D</h2>
        </div>
        
    </div>

    <!-- DIV EVENT HIDDEN -->
    <div class="app-wrapper__event">
        <p>Mes réductions seront affichées ici</p>
    </div>

</main>