
/*
*   FOOTER
*/

footer {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    border-top : 1px solid darkgoldenrod;
    text-align: center;

    & p {
        font-size: 0.8em;
    }

    & ul {
        padding: 2vh auto;
    }

    & li {
        display: inline-block ;
    }

    & a {
        color: white;
        text-decoration: none;
        padding-left: 2rem;
        text-transform: uppercase;
        letter-spacing: -1px;
        
    }
 }