<footer>

    <div>
        <ul>
            <li><a [routerLink]="['/home']">Accueil</a> </li>
            <li><a [routerLink]="['/ondisplay']">A l'affiche</a> </li>
            <li><a [routerLink]="['/practicalInfos']">Infos Pratiques</a></li>
            <li><a [routerLink]="['/quizz']">Quizz</a></li>
            <li><a [routerLink]="['/contacts']">Contacts</a></li>
            <li><a>Conditions générales</a></li>
            <li><a>Politique de confidentialité</a></li>
            <li><a>Chartes des spectateurs</a></li>
        </ul>
    </div>

    <div>
        <p>Copyright : Projet "Fil rouge", tous droits réservés</p>
    </div>
</footer>