/* You can add global styles to this file, and also import other style files */
* {
    font-size: 1em;
    color :white;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin:0;
    padding:0;
    background-color : black;
}

h1 {
    font-size: 8em;
    font-family: 'Stint Ultra Condensed', cursive;
    color: darkgoldenrod;
    text-transform: uppercase;
    letter-spacing: 2px;
}

