<div>
    <div class="app-wrapper">
        <h2>Infos Pratiques</h2>

        <div class="description">
            <div class="description__item">
                <img src="../../assets/img/photo_du_cinema.jfif" />
            </div>

            <div class="description__item">
                <h3>A propos</h3>
                <p>Situé dans la contrée champêtre de Chepy, à proximité de la Gentilhommière de la Vaubercerie, CinéFilm vous accueille tout au long de l'année pour vous faire profiter de son catalogue fourni et choisi avec soin pour votre plus grand plaisir.
                    Différents services sont également mis à votre disposition afin que vous puissiez profiter au mieux de votre séances </p>
            </div>

            <div class="description__item align-center">
                <div class="numberPlaceRoom">
                    prout
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>