<app-header></app-header>
<div class="app-wrapper">
    <h2>Infos Pratiques</h2>

    <!-- CONTAINER DESCRIPTIF CINEMA -->
    <div class="app-description">
        <div class="app-description__image">
            <img src="../../assets/img/photo_du_cinema.jfif" />
        </div>

        <mat-card class="app-description__paragraphe">
            <h3 id="a-propos">A propos :</h3>
            <p>Situé dans la contrée champêtre de Chepy, à proximité de la Gentilhommière de la Vaubercerie, le Cinéma
                Margoulin vous accueille, et ce, depuis 1912, tout au long de l'année pour vous faire profiter de son
                catalogue fourni et choisi avec soin
                pour votre plus grand plaisir.<br><br> Malgré son ancienneté, notre cinéma vit avec son temps et
                n'hésite pas à s'améliorer afin de proposer à ses clients une expérience toujours plus immersive !
                <br><br> Différents services tels qu'un Snack, un
                bar, des machines à pop-corn etc, sont également mis à votre disposition afin que vous puissiez profiter
                au mieux de votre séances
            </p>
        </mat-card>

        <div class="app-description__tab">
            <div class="numberPlaceRoom">
                <div class="numberPlaceRoom__item"><label class="label-center">15</label></div>
                <div class="numberPlaceRoom__item"><label class="label-center">Salles</label></div>
            </div>
            <div class="numberPlaceRoom">
                <div class="numberPlaceRoom__item"><label class="label-center">2250</label></div>
                <div class="numberPlaceRoom__item"><label class="label-center">Places</label></div>
            </div>
        </div>
    </div>

    <div class="app-wrapper-tarif">

        <!-- TABLEAU GENERAL -->

        <mat-tab-group mat-align-tabs="center" color="accent">

            <!-- LISTE TARIFS -->
            <mat-tab label="Tarifs">
                <mat-list>
                    <mat-list-item>
                        <div class="app-justify">
                            <div><label>Plein Tarif</label></div>
                            <div><label>14 €</label></div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Etudiants</div>
                            <div>9 €</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Moins de 14 ans</div>
                            <div>6 €</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Moins de 26 ans</div>
                            <div>8 €</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Plus de 65 ans</div>
                            <div>10 €</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Moins de 3 ans</div>
                            <div>Gratuit</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-tab>

            <!-- LISTE SEANCES 3D -->
            <mat-tab label="Séances 3D">
                <mat-list>
                    <mat-list-item>
                        <div class="app-justify">
                            <div><label>Séances 3d</label></div>
                            <div><label>+ 2€</label></div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="app-justify">
                            <div>Lunettes 3D</div>
                            <div>9 €</div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-tab>

            <!-- LISTE HORAIRES -->
            <mat-tab label="Horaires d'ouvertures">

                <div class="app-horaires">
                    <p style="color:white; text-align: center">Horaires</p>
                    <p style="color:white; text-align: center">Ouvert 7 jours sur 7 toute l'année</p>
                    <p style="color:white; text-align: center">De 10h30 à 22h30</p>
                </div>

            </mat-tab>
        </mat-tab-group>

    </div>


    <!-- CONTENEUR SERVICES -->
    <h3 class="app-titreServices">Services :</h3>
    <div class="app-wrapper-services">
        <i class="fa fa-wifi fa-5x" style="color: whitesmoke"></i>
        <i class="fa fa-coffee fa-5x" style="color: whitesmoke"></i>
        <i class="fa fa-parking fa-5x" style="color: whitesmoke"></i>
        <i class="fa fa-cannabis fa-5x" style="color: whitesmoke"></i>
        <i class="fa fa-lungs-virus fa-5x" style="color: whitesmoke"></i>
        <i class="fa fa-dizzy fa-5x" style="color: whitesmoke"></i>
    </div>
</div>
<app-footer></app-footer>