.app-wrapper {
    width: 94%;
    height: 100vh;
    margin: 3%;
}
.description {
        display: flex;

    &__item {
        margin: auto 1%;
        width :30%;
        justify-content: center;
        align-items: center;
    }

    & .align-center {
        text-align: center;
    }
    
}

img {
    width: 100%;
}

h2 {
    color: darkgoldenrod;
    font-size: 4em;
    text-align: center;
}

hr {
    width: 90%;
    background-color: darkgoldenrod;
    height: 2px;
}