<app-header></app-header>
<div class="app-wrapper">
    <label id="inscription">Inscription :</label>

    <form (ngSubmit)="addUser()" #formAddUser="ngForm">

        <div class="app-form">

            <mat-form-field class="app-field-user" [color]="'accent'">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Branjon" formControlFirstName="firstName" required>
            </mat-form-field>

            <mat-form-field class="app-field-user" [color]="'accent'">
                <mat-label>Prénom</mat-label>
                <input matInput placeholder="Nezha" formControlLastName="lastName" required>
            </mat-form-field>

            <mat-form-field class="app-field-user" [color]="'accent'">
                <mat-label>Adresse mail</mat-label>
                <input matInput placeholder="mail@mail.com" formControlLastName="email" required>
            </mat-form-field>

            <mat-form-field class="app-field-user" [color]="'accent'">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlLastName="email" required>
            </mat-form-field>

            <mat-form-field class="app-field-user" [color]="'accent'">
                <mat-label>Valider mot de passe</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <table class="example-full-width" cellspacing="1">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" [color]="'accent'">
                            <mat-label>Adresse</mat-label>
                            <input matInput placeholder="Ex. 2 rue de Nantes" formControlLastName="address" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" [color]="'accent'">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. Nantes" formControlLastName="city" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width" [color]="'accent'">
                            <mat-label color="accent">Code postal</mat-label>
                            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105"
                                formControlLastName="postalCode" required>
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <div class="app-button">
            <button mat-raised-button>Valider</button>
        </div>
        <p>* Tous les champs sont obligatoires</p>
    </form>
</div>
<app-footer></app-footer>