.app-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% auto;
    background-color: darkgoldenrod;
    border-radius: 4px;
}

#inscription {
    margin: 3% auto;
    font-size: 2em;
    font-weight:700;
}
/**/

form {
   width: 90%;
   margin-top: 2%;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.app-button {
    margin-bottom: 2%;
    display: flex;
    width: 100%;
}
button {
        width: 200px;
        margin: auto;
        background-color: black;
    }

label {
    font-weight: 700;
    color: black;
}

p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.app-form {
    display: flex;
    flex-direction: column;
}

.app-field-user {
    max-width: 400px;
}