<app-header></app-header>

<div class="app-wrapper">

    <div class="app-wrapper-connexion">
        <div class="welcome-back">
            <label id="bienvenue">Bienvenue !</label>
            
            <p>Pour ouvrir votre compte utilisateur, veuillez rentrer vos informations personnelles</p>
        </div>
        <div class="new-user">
            <a [routerLink]="['/new-user']">Nouvel utilisateur ?</a>
        </div>
    </div>

    <div class="app-wrapper-form">

            <form (ngSubmit)="addAccount()" #formAddReservation="ngForm">
                <mat-form-field class="app-form__item">
                    <mat-label>Adresse mail</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@exemple.com">
                    <mat-hint>Veuillez entrer une adresse mail valide !</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('requis')">
                        Veuillez entrer une adresse mail valide !
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('requis')">
                        Adresse mail <strong>requise</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="app-form__item">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">
                    <mat-hint>Veuillez entrer un mot de passe !</mat-hint>
                    <mat-error
                        *ngIf="passwordFormControl.hasError('mot de passe') && !passwordFormControl.hasError('requis')">
                        Veuillez entrer un mot de passe !
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('requis')">
                        Mot de passe <strong>requis</strong>
                    </mat-error>
                </mat-form-field>

                <div class="app-button">
                    <button mat-stroked-button (click)="openSnackBar()">Valider</button>
                </div>

            </form>
    </div>

</div>
<app-footer></app-footer>