.welcome-back {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 15%;
}

.app-wrapper {
    width: 60%;
    height: 500px;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
 
.app-wrapper-connexion {
    display: flex;
    width: 50%;
    background-color: whitesmoke;
    align-items: center;
    flex-direction: column;

    & .welcome-back {
        text-align: center;
        width: 80%;
    }
}

#bienvenue {
    font-size: 2em;
    margin-top : 15%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.new-user {

    margin-top: 10%;

    & a{
        
        font-family: 'Roboto', sans-serif;
        color: black;
        text-decoration: none;
        font-weight: 700;
        transition: color 500ms ease;
    }
    & a:hover {
        color: darkgoldenrod;
    }
    
}

.app-wrapper-form{
    width: 50%;
    background-color: darkgoldenrod;
        
    & .mb-3 {
        width: 80%;
        margin: 15% auto;
    }

    & label {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & input {
        border-color: darkgoldenrod;
    }
}

button {
    background-color: black;
    color: whitesmoke;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-form__item {
    width: 400px;
    margin-bottom: 15%;
}