<div class="app-wrapper">

    <div class="app-wrapper-connexion">
        <div class="welcome-back">
            <label id="bienvenue">Bienvenue !</label>
            <p>Pour ouvrir votre compte utilisateur, veuillez rentrer vos informations personnelles</p>
        </div>
        <div class="new-user">
            <a [routerLink]="['/new-user']">Nouvel utilisateur ?</a>
        </div>
    </div>

    <div class="app-wrapper-form">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Adresse email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="mdp" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="mdp">
            </div>
    
            <div class="app-button">
                <button type="submit" class="btn btn-dark">Valider</button>
            </div>
            
        </form>
    </div>

</div>
