.app-wrapper {
    margin: 3%;
}

.mat-stepper-horizontal {
    margin-top: 8px;
    background-color: grey;
  }
  
.mat-form-field {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.mat-label {
    color: black;
}

button {
    background-color: darkgoldenrod;
    color: black;
}

td {
    padding-right: 8px;
}

img {
    height : 400px;
    width : 300px;
}