<div class="app-wrapper">
    <mat-stepper class="app-form" [orientation]="(stepperOrientation | async)!" color="accent">

        <mat-step label="Votre film" >
            
            <p>Votre film : {{this.title}}</p>
            <img src={{this.display}}>
            <p>Réalisateur : {{this.director}}</p>
            <p>Résumé : {{this.synopsis}}</p>
                
                <div>
                    <button mat-button matStepperNext color="primary">Réserver</button>
                </div>
        </mat-step>

        <mat-step [stepControl]="firstFormGroup" label="Informations personnelles">
            <form [formGroup]="firstFormGroup">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="ex : Bron" formControlFirstName="firstNameControl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput placeholder="ex : Nezha" formControlLastName="lastNameControl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adresse mail</mat-label>
                    <input matInput placeholder="ex :mail@mail.com" formControlemail="emailControl" required>
                </mat-form-field>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Adresse</mat-label>
                                <input matInput placeholder="Ex. 2 rue de Nantes" formControlLastName="emailNameControl" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Ville</mat-label>
                                <input matInput placeholder="Ex. Nantes" formControlLastName="emailNameControl" required>
                            </mat-form-field>
                        </td>
                        
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label color="accent">Code postal</mat-label>
                                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlLastName="emailNameControl" required>
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Valider</button>
                </div>
            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Validation</ng-template>

          
                <mat-label>Détail de votre réservation :</mat-label>
        

            <div>
                <button mat-button matStepperPrevious color="primary">Retour</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>