.app-wrapper {
    margin:3%;
}

h2 {
    color: darkgoldenrod;
    font-size : 3em;
    padding-bottom: 27px;
}

h3 {
    padding-top: 9px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

img {
    width: 100%;
    height: 400px;
}

.mat-grid-tile{
    min-width: 400px;
}