<app-header></app-header>
<div class="app-wrapper">
    <h2>A l'affiche en ce moment :</h2>
    
        <mat-grid-list cols="3" rowHeight="3:4" >
            <mat-grid-tile *ngFor="let element of filmList">
                <app-on-display-child [element]="element">
                
                <h3>{{element.name}}</h3>
                <img src="{{element.display}}" alt="image film">

                </app-on-display-child>
            </mat-grid-tile>
        </mat-grid-list>

</div>
<app-footer></app-footer>