.app-wrapper {
    margin:3%;
}

h2 {
    color: darkgoldenrod;
}

.app-component {
    height: 100%;
}

ul {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(300px, auto);
    height: 100%;
}

li {
    list-style-type: none;
    height: 100%;
}


img {
    width: 100%;
}